<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<title>{{pkg.moduleName}}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/dist/styles/css/{{pkg.moduleName}}.css" />
		<script src="/runner.min.js"></script>
	</head>
	<body>
		<h1>{{name}}</h1>
	</body>
</html>